{{#each errors}}
<div class="alert alert-danger alert-dismisible fade show">
    {{text}}
    <button type="buttton" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{/each}}