<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit recusandae impedit quos delectus eveniet in ex magnam sed. Ullam et totam quibusdam, quo cumque blanditiis reprehenderit dignissimos dolorem hic saepe.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, qui. Odit consectetur exercitationem nemo cum asperiores magnam, commodi dolores obcaecati!</p>
    <a href="http://www.google.com" class="btn btn-primary">Google</a>
</div>